.image {
    background-position: center center;
    background-repeat: no-repeat;

    .theme_color_project-default > & {
        background-image: url('image-placeholder-primary.svg');
        background-color: $white;
    }

    .theme_color_project-inverse > & {
        background-image: url('image-placeholder-inverse.svg');
        background-color: $black;
    }
    .theme_color_project-brand & {
        background-image: url('image-placeholder-inverse.svg');
    }

    // @include themify {
    //     border: 3px solid $border-color;
    //     background-color: $bg-default-color;
    // }
}
