.informer {
    display: flex;
    flex-flow: column wrap;

    &_border_all {

        @include themify {
            border: 3px solid $border-color;
        }
    }

    &_view_default {

        @include themify {
            background: $bg-default-color;
        }
    }
}

.informer__content {
    display: flex;
    flex-flow: row wrap;

    &_distribute_default {
        justify-content: flex-start;
    }

    &_distribute_between {
        justify-content: space-between;
    }

    &_distribute_center {
        justify-content: center;
    }

    &_space-a_xl {
        padding: $space-xl;
    }

    &_space-a_xxl {
        padding: $space-xxl;
    }
}

.informer__action {
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;

    &_distribute_default {

    }

    &_distribute_between {
        justify-content: space-between;
    }

    &_distribute_center {
        justify-content: center;
    }

    &_space-a_xl {
        padding: $space-xl;
    }

    &_space-a_xxl {
        padding: $space-xxl;
    }
}
