.input {
    width: 100%;
    cursor: text;

    @include themify {
        border: 3px solid $border-color;
    }

    &_size_s {
        height: 24px;
    }

    &_size_m {
        height: 32px;
    }

    &_size_l {
        height: 42px;
    }

    &_size_xl {
        height: 56px;
    }

    &_size_xxl {
        height: 64px;
    }
}
