.layout {
    width: 100%;
}

.layout__container {
    max-width: 100%;

    &_align_center {
        margin-left: auto;
        margin-right: auto;
    }

    &_size_s {
        width: 920px;
    }

    &_size_m {
        width: 1280px;
    }

    &_space-v_xxxxl {
        padding-bottom: $space-xxxxl;
        padding-top: $space-xxxxl;
    }

    &_space-v_xxxxxl {
        padding-bottom: $space-xxxxxl;
        padding-top: $space-xxxxxl;
    }

    &_indent-b_xxl {
        margin-bottom: $space-xxl;
    }

    &_indent-b_xxxxl {
        margin-bottom: $space-xxxxl;
    }
}
