.onoffswitch {
    width: 97px;
    height: 32px;
    padding: 2px;
    display: flex;
    cursor: pointer;

    @include themify {
        border: 2px solid $border-color;
    }

    &_checked {
        justify-content: flex-end;
    }

    &__button {
        width: 24px;
        height: 24px;

        @include themify {
            background: $border-color;
        }
    }
}
