.onoffswitch {
    width: 97px;
    height: 32px;
    border: 2px solid $border-color;
    padding: 2px;
    display: flex;
    cursor: pointer;

    &_checked {
        justify-content: flex-end;
    }

    &__button {
        width: 24px;
        height: 24px;
        background: $border-color;
    }
}
