.product {
    min-height: 300px;
    border-width: 3px;

    &__title {
        margin-bottom: $space-xxxl;;
    }

    &__image {

        @include themify {
            background: $bg-default-color;
        }

        .image {
            height: 160px;
        }
    }
}
